@import '../../../sassStyles/variables';

.main__editor {
  height: 100vh;
  display: flex;
  &-textarea {
    height: 100vh;
    width: 50%;
    border: none;
    border-right: 1px solid $grey4;
    padding: 1rem;
  }
}
