@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.navbar {
  width: 100%;
  height: 72px;
  background-color: $black3;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__actions {
    display: flex;
    height: 100%;
    align-items: center;

    &-btnDelete {
      background: none;
      border: none;
      color: $grey1;
      margin-right: 2rem;
      cursor: pointer;
      transition: all 0.25s ease-out;

      &:hover {
        color: $grey2;
        transform: scale(1.2);
      }
    }

    &-btnSave {
      padding: 1rem 1.3rem;
      margin-right: 2rem;
    }
  }

  &__hamburger {
    background-color: $black4;

    &:hover {
      background-color: $black4;
      transition: all 0.25s ease-out;
    }
  }

  &__title {
    @include responsiveMax($phone) {
      display: none;
    }

    text-transform: uppercase;
    color: $white;
    letter-spacing: 1rem;
    margin-left: 2rem;
  }

  &__separator {
    @include responsiveMax($phone) {
      display: none;
    }

    height: 50%;
    width: 2px;
    border-radius: 10px;
    background-color: $grey3;
    margin-left: 2rem;
  }
}
