@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.file {
  &__icon {
    margin-right: 1rem;
    font-size: 2rem;
  }

  &__date {
    color: $grey1;
    font-size: 1.3rem;
  }

  &__name {
    color: $grey5;
    font-size: 1.5rem;
  }

  cursor: pointer;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  border-radius: 10px;

  &:hover {
    background-color: $grey1;
    transition: all 0.25s ease-out;

    .file__name {
      color: $white;
    }

    .file__date {
      color: $grey3;
    }
  }
}
