@import '../../../sassStyles/variables';
@import '../../../sassStyles/mixins';

.hamburger {
  @include responsiveMax($phone) {
    width: 5rem;
  }

  &:hover {
    span[class*='bar'] {
      background-color: $grey3;
      transition: all 0.25s ease-out;
    }
  }
  span[class*='bar'] {
    background-color: $grey2;
    display: inline-block;
    width: 100%;
    height: 3px;
    border-radius: 10px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    height: 3rem;
    width: 50%;
  }

  border: none;
  width: 7rem;
  cursor: pointer;
  height: 100%;

  &.active {
    .bar-2 {
      transform: rotate(-45deg) translate(3px, -5px);
    }

    .bar-1 {
      transform: rotate(45deg) translate(3px, 4px);
    }
    .bar-3 {
      display: none;
    }
  }
}
