// Colors

// Black
$black1: #151619;
$black2: #1d1f22;
$black3: #2b2d31;
$black4: #35393f;

//Grey
$grey1: #5a6069;
$grey2: #7c8187;
$grey3: #c1c4cb;
$grey4: #e4e4e4;
$grey5: #f5f5f5;

//White
$white: #ffffff;

//Orange
$red1: #e46643;
$red2: #f39765;
