// Colors

// Black
$black1: #151619;
$black2: #1D1F22;
$black3: #2B2D31;
$black4: #35393F;

//Grey
$grey1: #5A6069;
$grey2: #7C8187;
$grey3: #C1C4CB;
$grey4: #E4E4E4;
$grey5: #F5F5F5;

//White
$white: #FFFFFF;

//Orange
$red1: #E46643;
$red2: #F39765;
