@import './sassStyles/mixins';
@import './sassStyles/variables';

.App {
  &.sidebarActive {
    @include responsiveMax($phone) {
      margin-left: 20rem;
    }

    margin-left: 30rem;

    .sidebar {
      &.active {
        @include responsiveMax($phone) {
          width: 20rem;
        }

        height: 100vh;
        width: 30rem;
        visibility: visible;
      }
    }
  }

  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow: hidden; /* Disable horizontal scroll */
    padding-top: 2rem; /* Place content 60px from the top */
    transition: width 0.3s ease-out; /* 0.5 second transition effect to slide in the sidebar */

    & > * {
      @include responsiveMax($phone) {
        font-size: 1.5rem;
        margin-left: 20px;
      }
      margin: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 2rem;
      color: #818181;
      transition: 0.3s;
      white-space: nowrap;
    }

    &-btn {
      @include responsiveMin($desktop) {
        margin-left: 50px;
      }

      @include responsiveMax($phone) {
        width: 16rem;
      }
      color: $white;
      font-size: 1.4rem;
      width: 20rem;
      text-align: center;
      margin: 2rem 0;
    }
  }

  .main {
    &__statusBar {
      display: flex;
      background-color: $grey5;

      &-actions {
        display: flex;
        align-items: center;
        width: 50%;
        border-right: 2px solid $grey4;

        button {
          border: none;
          display: flex;
          align-items: center;
          background-color: transparent;
          cursor: pointer;

          .buttonToggle-label {
            margin-right: 1.3rem;
            display: none;

            @include responsiveMax($phone) {
              display: inline-block;
            }
          }
        }

        &-toggleIcon {
          display: none;
          @include responsiveMax($phone) {
            display: inline-block;
          }
        }

        @include responsiveMax($phone) {
          width: 100%;
          justify-content: space-between;
          padding: 0 2rem;
        }

        &-preview {
          @include responsiveMax($phone) {
            display: none;
          }
        }
      }

      h3 {
        width: 50%;
        letter-spacing: 0.5rem;
        height: 100%;
        padding: 1rem 2rem;

        @include responsiveMax($phone) {
          padding-left: 0;
        }

        &:first-child {
          // border-right: 2px solid $grey4;
        }
      }
    }
  }

  transition: margin-left 0.3s ease-out; /* 0.5 second transition effect to slide in the sidebar */
}
